.pft .navbar-pf .navbar-brand {
    padding: 5px 0 6px;
    margin-left: 5px;
}

.pft #app-menu{
  margin-left:5px;
}

.pft .navbar-pf{
	background-color: #fff;
	border-bottom: 2px solid #39a5dc;
	border-top:none;
  height:68px;
}

.pft .navbar-pf .navbar-header {
  border-bottom: 0;
}

.pft .navbar-text {
    margin-top: 19px;
}

.pft h4.navbar-text {
    margin-top: 25px;
}

.pft .navbar-header ul.nav{
  margin-top: 12px;
  font-size: 15px;
}

.pft .navbar-pf .navbar-nav>.open>a, .pft .navbar-pf .navbar-nav>.open>a:focus, .pft .navbar-pf .navbar-nav>.open>a:hover{
  background-color: #f1f1f1;
}

.pft .nav-pf-persistent-secondary h5 {
   text-shadow: none;
}

.pft #header{
    height:68px;
}

.pft .fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.pft .fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}
.pft .progress{
  display: none;
}
.pft .language-link.active {
  font-weight: bold;
}
.pft .margin-top-sm{
  margin-top: 0.25em;
}
.pft .margin-top-nm{
  margin-top: 0.5em;
}
.pft .margin-top-lg{
  margin-top: 0.75em;
}
.pft .margin-top-xl{
  margin-top: 1.0em;
}
.pft .margin-top-xxl{
  margin-top: 1.25em;
}
.pft div.checkbox{
  padding: 0;
  margin: 0;
}
.pft i.fa{
 cursor: pointer; 
}
.pft #overlay-container{
	z-index: 99999;
}

body.toolbar nav.navbar-fixed-top{
	position: relative!important;
}

.pft .cs-validation-error{
  border: solid 1px red;
}

#overlay-container
{
	z-index: 2000!important;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 95% !important;
   max-width:1200px;
  }
}

.pft .margin-top{
  margin-top:0.25em;
}

.modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

.table-cell.bottom-right{
    vertical-align: bottom;
    padding-left: 1%;
    padding-bottom: 2px;
    text-align: right;
}

#location{
  margin-left: 20px;
}
#sb-expand{
  padding: 0;
  margin-top: 0px;
}